body{
    padding:0;
    margin:0;
}
.right-items {
    float:left;
    display: flex;
    flex-direction: column;
    height:auto;
    width: auto;
}
.header{
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: lightgrey;
    width:100%;
    height:2.3em;
    
    border-bottom:  1px solid black;
}

.files {
    display:flex;
    line-height: 2em;
    padding: 2px;
    margin-right:2em;
    border:1px solid black;
     border-left:none;
     border-bottom:none;
}
 .editorLogo {
     display:flex;
     line-height: 2em;
     font-weight: 900;
     padding:2px;
 }

 
 .btnContainer {
     text-align: center;
     align-content: center;
     justify-content: center;
     width:30em;
     margin:0 auto;
     height: auto;
     padding: 1px 1px;
     
 }

 .navItems {
     text-align:center;
     float:left;
     padding: 1px;
     width:5em;
     border:1px solid black;
     border-left:none;
     border-bottom:none;
     line-height: 2em;
 }
 .toggleclass{
     background-color: rgba(12, 11, 235, 1);
 }
 .login {
     float:right;
     line-height: 2em;
     margin-left:2em;
 }
 .loginbtn {
     border:none;
     border-radius: 4px;
     background-color: rgba(12, 11, 235, 1);
     color:white;
 }

 .htmlbtn{
     border-left: 1px solid black;
 }
 .clear {
     clear: both;
 }


 /* input styles */



 .hidden {
     display: none;
 }
 .bodycnt {
     padding:0;
     margin:0;
    width:100%;
    height:100%;
 }
 
 .panel {
     float:left;
     width:auto;
 }

 textarea:focus{
     outline:none;
     outline-style: double;
     outline-width: 2px;
     outline-color: indigo;
     background-color: black;
     color: white;
     transition: 2s;
 }

 textarea{
     float:left;
     height: 44em;
     resize: none;
     
 }

 iframe {
     height:36.9em;
     border: 1px solid grey;
 }

 .mainConsole {
     width:100%;
     height:auto;
 }

.console {
    background-color: grey;
    border: indigo;
    width:98%;
    height:80%;
    padding: 1%;
    cursor: pointer;
}
.console2{
   width:100%;
   height:auto;
}